<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments :: html_head}"></head>
  <body class="product-page overflow-hidden">
    <div th:replace="~{fragments :: navbar}"></div>

    <div class="d-flex overflow-hidden" style="height: calc(100vh - 56px)">
      <div th:replace="~{fragments :: sidebar}"></div>

      <main class="flex-grow-1 p-4 overflow-y-auto bg-light h-100">
        <h1>Dashboard</h1>
        <p>Chào mừng đến với trang quản trị của bạn!</p>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/admin.js}"></script>
  </body>
</html>
